---
import SideForm from './SideForm.astro'
---



<!-- The Popup 1 -->
<div id="popupForm1" class="popup">
  <div class="popup-content">
    <span class="closeBtn">&times;</span>
    <h2>Contact Us</h2>
    <form class="contact-form contact-form-top" id="">
      <!-- do not delete. disabling for now -->

      <!-- <div class="row">
          <div class="col-sm-12">
            <div class="form-field">
              <select name="destination" class="form-control" required aria-required="true" style="width:100%; border:1px solid red;">
                <option value="">Your preferred study destination</option>
                <option value="Canada">Canada</option>
                <option value="Australia">Australia</option>
                <option value="Ireland">Ireland</option>
                <option value="UK">UK</option>
                <option value="USA">USA</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
  
          <div class="col-sm-12">
            <div class="form-field">
              <input class="input-sm form-full" type="text" name="form-name" placeholder="Your Name" required />
            </div>
            <div class="form-field">
              <input class="input-sm form-full" type="tel" name="form-phone" placeholder="Phone Number" pattern="[6-9]{1}[0-9]{9}" required />
            </div>
          </div>
  
          <div class="col-sm-12">
            <div class="form-field">
              <textarea class="form-full" rows="3" name="form-message" placeholder="Your Message" required></textarea>
            </div>
          </div>
          <div class="col-sm-12 mt-30 text-center">
            <button class="btn-text" type="submit" name="button">Send Message</button>
          </div>
        </div> -->
    </form>
  </div>
</div>

<!-- The Popup 2 -->
<div id="popupForm2" class="popup">
  <div class="popup-content">
    <span class="closeBtn">&times;</span>
    <SideForm/>
  </div>
</div>
